.u-section-1 .u-sheet-1 {
  min-height: 127px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: bold;
  font-family: Oswald, sans-serif;
  width: 480px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  text-transform: none;
  font-weight: bold;
  font-family: Oswald, sans-serif;
  width: 480px;
  margin: -49px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  margin: 0 0 16px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 513px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  width: 634px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 18px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 409px;
  background-image: none;
  animation-timing-function: ease;
}

.u-section-2 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 0 18px;
}

.u-section-2 .u-image-1 {
  height: 267px;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  text-transform: none;
  width: 250px;
  margin: 18px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 409px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 18px;
}

.u-section-2 .u-image-2 {
  height: 267px;
  margin-top: 44px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  text-transform: none;
  width: 250px;
  margin: -26px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 409px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 18px;
}

.u-section-2 .u-image-3 {
  height: 267px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  text-transform: none;
  width: 250px;
  margin: -12px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-2 .u-image-1 {
    height: 215px;
  }

  .u-section-2 .u-text-3 {
    width: -15px;
  }

  .u-section-2 .u-text-5 {
    width: -15px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-2 .u-image-3 {
    height: 217px;
  }

  .u-section-2 .u-text-7 {
    width: -15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 23px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 357px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 13px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 162px;
    margin-top: 32px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1331px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 17px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 520px;
  }

  .u-section-2 .u-text-5 {
    width: 35px;
    margin-top: -98px;
  }

  .u-section-2 .u-text-6 {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 21px;
  }

  .u-section-2 .u-image-3 {
    height: 260px;
  }

  .u-section-2 .u-text-7 {
    width: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 39px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-2 .u-image-2 {
    height: 320px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -53px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 33px;
  }

  .u-section-2 .u-image-3 {
    height: 160px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 1px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 513px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  width: 634px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 18px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 18px;
}

.u-section-3 .u-image-1 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  text-transform: none;
  width: 250px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 409px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 18px;
}

.u-section-3 .u-image-2 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  text-transform: none;
  width: 250px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 409px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 18px;
}

.u-section-3 .u-image-3 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  text-transform: none;
  width: 250px;
  margin: 18px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  text-transform: none;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 321px;
  }

  .u-section-3 .u-image-1 {
    height: 217px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-3 .u-image-2 {
    height: 215px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-3 .u-image-3 {
    height: 215px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 162px;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 9px;
    margin-left: 27px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 158px;
  }

  .u-section-3 .u-text-5 {
    width: 192px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 158px;
  }

  .u-section-3 .u-text-7 {
    width: 192px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    height: 260px;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 403px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 403px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 160px;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    height: 248px;
  }

  .u-section-3 .u-image-3 {
    height: 248px;
  }
}
