.u-section-1 .u-sheet-1 {
  min-height: 106px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: bold;
  font-family: Oswald, sans-serif;
  width: 480px;
  margin: 18px auto 40px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 531px;
}

.u-section-2 .u-image-1 {
  width: 256px;
  height: 256px;
  background-image: url("images/poked_new.png");
  background-position: 50% 50%;
  transition-duration: 1s;
  text-shadow: 12px 12px 0 rgba(0,0,0,0);
  animation-timing-function: linear;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  text-transform: none;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  margin: 40px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg) !important;
  text-shadow: 12px 12px 0 rgba(0,0,0,0) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(0px) scale(1.2) rotate(0deg) !important;
  text-shadow: 12px 12px 0 rgba(0,0,0,0) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}