 .u-section-1 {
  font-size: 1.875rem;
}

.u-section-1 .u-sheet-1 {
  min-height: 300px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 300px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 1px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  text-transform: none;
  font-weight: 400;
  font-family: Merriweather, serif;
  width: 480px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  font-family: Merriweather, serif;
  font-weight: 400;
  width: 728px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 247px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-text-2 {
    width: 384px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 364px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }
}